<div class="container mt-5" id="selectDate">
    <form [formGroup]='form'>
      From :
      <select name="fromYear" id="fromYear" formControlName="fromYear" [(ngModel)]="from.year" (change)="getFromMonths(); getToYears()">
        <option value="">Select Year</option>
        <option *ngFor="let year of fromYears" [value]="year">{{ year }}</option>
      </select>&nbsp;
      <select name="fromMonth" id="fromMonth" formControlName="fromMonth" [(ngModel)]="from.month" (change)="getToMonths()">
        <option value="">Select Month</option>
        <option *ngFor="let month of fromMonths" [value]="month">{{ month }}</option>
      </select><br>
        <br>
      To :
      <select name="toYear" id="toYear" formControlName="toYear" [(ngModel)]="to.year" (change)="getToMonths()">
        <option value="">Select Year</option>
        <option *ngFor="let year of toYears" [value]="year">{{ year }}</option>
      </select>&nbsp;
      <select name="toMonth" id="toMonth" formControlName="toMonth" [(ngModel)]="to.month">
        <option value="">Select Month</option>
        <option *ngFor="let month of toMonths" [value]="month">{{ month }}</option>
      </select><br>
        <br>

      <button mat-raised-button color="primary" (click)="generateRecords()">Generate</button>

    </form>
  </div>

<form [formGroup]="data">
<div class="container card" id="generatedForm" *ngFor="let record of records; let i = index">
  {{record.date}}<br>
    <label>Value1 : <input type="text" [(ngModel)]="record.value1" formControlName="value1" id="{{'value1'+i}}" placeholder="Enter Value1"></label><br/>
    <label>Value2 : <input type="text" [(ngModel)]="record.value2" formControlName="value2" [id]="'value2'+i" placeholder="Enter Value2"></label><br/>
    <label>Value3 : <input type="text" [(ngModel)]="record.value3" formControlName="value3" [id]="'value3'+i" placeholder="Enter Value3"></label><br/>
    <br/>
    <!-- [(ngModel)]="record.value1"
    [(ngModel)]="record.value2"
    [(ngModel)]="record.value3" -->

    <!-- <button (click)="dataOutput(record.value1.value)">Submit</button> -->
</div>
</form>

<div id="submitBtn">
<button mat-raised-button color="primary" (click)="finalOutput()" >FinalSubmit</button>
</div>

<!-- <div class="col-12">
  <form [formGroup]="mainForm" (submit)="submit()"> -->

    <!-- Upper Form -->


    <!-- {{mainForm.value | json}}
    <div class="col-6">
      <label >From:</label>
      <select name="fromYear" formControlName="fromYear" [(ngModel)]="from.year" (change)="getFromMonths(); getToYears()">
          <option value="">Select Year</option>
          <option *ngFor="let year of fromYears" [value]="year">{{ year }}</option>
      </select>&nbsp;
      <select name="fromMonth" formControlName="fromMonth" [(ngModel)]="from.month" (change)="getToMonths()">
          <option value="">Select Month</option>
          <option *ngFor="let month of fromMonths" [value]="month">{{ month }}</option>
       </select><br>

       <label> To: </label>
       <select name="toYear" formControlName="toYear" [(ngModel)]="to.year" (change)="getToMonths()">
          <option value="">Select Year</option>
          <option *ngFor="let year of toYears" [value]="year">{{ year }}</option>
        </select>&nbsp;
        <select name="toMonth" formControlName="toMonth" [(ngModel)]="to.month">
          <option value="">Select Month</option>
          <option *ngFor="let month of toMonths" [value]="month">{{ month }}</option>
        </select><br>
        <br>
        <button mat-raised-button color="primary" (click)="generateRecords()">Generate</button>
    </div>
    <div formArrayName="randomData">
        <div class="col-6">
            <label> Generated Fields: </label>
          </div>
      <div class="col-6" *ngFor="let record of records; let i = index;">
        <div [formGroupName]="i"> -->

          <!-- <div *ngFor="let record of records; let ranData of dataFormGroup.controls;"></div> -->
            <!-- {{record.date}} -->

            <!-- <div class="col-6">
            <label> Value1:</label>
            <input type="text" formControlName="value1">
            <span *ngIf="getRandomDataFromGroup(i).controls['value1'].touched && getRandomDataFromGroup(i).controls['value1'].hasError('required')">
              Value is required
            </span>
          </div>
          <div class="col-6">
              <label> Value2:</label>
              <input type="text" formControlName="value2">
              <span *ngIf="getRandomDataFromGroup(i).controls['value1'].touched && getRandomDataFromGroup(i).controls['value1'].hasError('required')">
                Value is required
              </span>
          </div>
          <div class="col-6">
                <label> Value3:</label>
                <input type="text" formControlName="value3">
                <span *ngIf="getRandomDataFromGroup(i).controls['value1'].touched && getRandomDataFromGroup(i).controls['value1'].hasError('required')">
                  Value is required
                </span>
          </div> -->

        <!-- </div>
      </div>
    </div>

    <div class="col-12">
      <button type="submit" >Submit</button>
    </div>

  </form>

</div> -->
