<!-- <div>
  <br>
  <mat-card>
    <form [formGroup]="createForm" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Name" formControlName="name" #name>
      </mat-form-field>
      <br><br>
      <mat-divider></mat-divider>
      <br><br>
      <mat-form-field class="field-full-width">
          <input matInput placeholder="Email" formControlName="email" #email>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button mat-raised-button color="accent" routerLink="/home">Back</button>
      <button type="submit" (click)="addUser(name.value, email.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="primary">Register</button>
    </form>
  </mat-card>
</div> -->
