
<div cdkDrag>
  <br>
  <mat-card>
    <form [formGroup]="createUser" class="create-form">
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Enter Email" [(ngModel)]="registerUserData.email" name="email" formControlName="email" #email>
      </mat-form-field>
      <br><br>
      <mat-form-field class="field-full-width">
        <input matInput placeholder="Enter PassWord" [(ngModel)]="registerUserData.password" name="password" formControlName="email" #email>
      </mat-form-field>
      <mat-divider></mat-divider>
      <br><br>
      <button type="submit" (click)="registerUser()" [disabled]="createUser.pristine || createUser.invalid" mat-raised-button color="primary" >Register</button>
    </form>
    <button (click)="this.googleSignup()"  mat-raised-button color="accent"><mat-icon>home</mat-icon> Google</button>
    <a href='http://localhost:4040/facebook/faceauth' mat-raised-button color="primary"><mat-icon>thumb_up_alt</mat-icon> Facebook</a>
  </mat-card>
</div>
